<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Travelport.Smartpoint.SampleWebConnectorPlugin.Production" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Production" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Travelport.Smartpoint.SampleWebConnectorPlugin.Production>
            <setting name="URL" serializeAs="String">
                <value>http://localhost/demo.html</value>
            </setting>
        </Travelport.Smartpoint.SampleWebConnectorPlugin.Production>
        <Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Settings>
            <setting name="BrowserId" serializeAs="String">
                <value>TEST_SDK_BROWSER</value>
            </setting>
        </Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Production>
            <setting name="URL" serializeAs="String">
                <value>http://localhost/demo.html</value>
            </setting>
            <setting name="PasteHTMLElement" serializeAs="String">
                <value>#paste_code</value>
            </setting>
        </Travelport.Smartpoint.SampleWebConnectorPlugin.Properties.Production>
    </applicationSettings>
</configuration>